<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <title>Float Layout</title>
    <link rel="stylesheet" href="monStyle.css">

</head>
<body>

<header>
    <h2>les capitales</h2>
</header>

<section>

    <nav>
        <ul>

            <li>
                <a href="index.html">londres</a>
            </li>
            <li>
                <a href="paris.html" target="_blank">paris</a>
            </li>
            <li>
                <a href="abidjan.html" target="_blank"> abidjan</a>
            <li>
                <a href="bruxelle.html" target="_blank">bruxelles</a>
            <li>
                <a href="rabat.html" target="_blank">rabat</a>
            </li>
        </ul>
    </nav>
    

    <article>
        <h1>londres</h1>

        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id lacus sed diam sodales iaculis non id
            elit. Aenean malesuada nunc porta, posuere odio sed, blandit arcu. Fusce suscipit ultrices velit ac egestas.
            Etiam placerat aliquet maximus. Mauris vulputate, tellus sit amet suscipit dignissim, massa orci facilisis
            metus, nec convallis enim mi vel mi. Praesent vehicula diam ac magna interdum, et aliquam mi tempus. Vivamus
            tempus mi in leo blandit, sed elementum turpis viverra.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id lacus sed diam sodales iaculis non id
            elit. Aenean malesuada nunc porta, posuere odio sed, blandit arcu. Fusce suscipit ultrices velit ac egestas.
            Etiam placerat aliquet maximus. Mauris vulputate, tellus sit amet suscipit dignissim, massa orci facilisis
            metus, nec convallis enim mi vel mi. Praesent vehicula diam ac magna interdum, et aliquam mi tempus. Vivamus
            tempus mi in leo blandit, sed elementum turpis viverra.
        </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio doloremque dolorum ea earum et
            eveniet ex fugit hic incidunt iste minima necessitatibus nostrum, pariatur quia, quo rerum saepe
            voluptas
        </p>

    </article>

</section>


<footer><p>&copy;copyright</p></footer>


</body>
</html>